services:
  mosquitto:
    image: eclipse-mosquitto:2.0.22
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    networks:
      - mqtt_net

  smartmeter-metric-ingest:
    build: .     
    container_name: dt_smarter_meter_metric_ingest
    restart: unless-stopped
    depends_on:
      - mosquitto        
    environment:
      - TENANT_HOST=${TENANT_HOST}
      - API_TOKEN=${API_TOKEN}
      - MQTT_BROKER=mosquitto
      - MQTT_PORT=${MQTT_PORT}
      - MQTT_USER=${MQTT_USER}
      - MQTT_PASSWORD=${MQTT_PASSWORD}
      - MQTT_CLIENT_ID=${MQTT_CLIENT_ID}
      - MQTT_TOPIC=${MQTT_TOPIC}
    networks:
      - mqtt_net

  oneagent:
    image: dynatrace/oneagent:latest
    container_name: dynatrace-oneagent
    restart: unless-stopped
    privileged: true                  
    network_mode: host              
    pid: host                         
    volumes:
      - /:/mnt/root          
    environment:
      - ONEAGENT_INSTALLER_SCRIPT_URL=${DT_ONEAGENT_URL}
      - ONEAGENT_INSTALLER_SKIP_CERT_CHECK=false
  
networks:
  mqtt_net: {}
